.sales-by-date-container {
    height: 390px;
    padding: 25px 15px 50px 30px;
}

.sales-by-date-title {
    font-size: 24px;
    color: var(--light-color);
}

.sales-by-date-period {
    color: var(--grey-light-100-color);
}
.sales-by-date-data {
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sales-by-date-quantity-container {}

.sales-by-date-quantity {
    font-size: 35px;
    color: var(--light-color);
}

.sales-by-date-quantity-label {
    color: var(--green-color);
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

.sales-by-date-quantity-description {
    color: var(--grey-light-100-color);
}

.sales-by-date-chart {
    width: 890px;
}