@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');


* {  
  margin: 0;
  font-family: 'Roboto', 'Open Sans';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.base-card {
  background: var(--primary-color);
  border-radius: 10px;
}

.base-input {
  border-radius: 10px;
  font-size: 1em;
  letter-spacing: -0.015em;
  color: #263238;
  height: 50px;
}

.base-input::placeholder {
  color: #9E9E9E;
}

.app-container {
  padding: 0 55px;
}
.sales-overview-container{
  display: flex;
  justify-content: space-between;
  margin-top: 40px; 
  margin-bottom: 40px;
}