.sales-table-container {
    margin-bottom: 50px;
    padding: 30px 35px;
}

.sales-table-title {
    font-size: 18px;
    color: var(--light-color);
}

.sales-table {
    width: 100%;
    margin-top: 30px;
    border-spacing: 0;

    thead {
        th {
            text-align: left;
            height: 55px;
        }
    }

    tbody {
        td {
            border-top: 1px solid var(--grey-light-125-color);
            height: 55px;
            font-size: 18px;
            transition: background .3s;
        }
    }
    tbody tr:hover > td {
        background-color: var(--grey-light-150-color);
    }

    tbody tr:nth-child(odd){
        background-color: rgba(0, 0, 0, 0.1);
    }

    tbody tr:nth-child(even){
        background-color: var(--primary-color);
    }
}